.construction-description {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.hp-posts {
    margin-top: 20px;
}

.post-list {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem 1rem;
}

@media (max-width: 768px) {
    .post-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem 0.5rem;
    }
}

.hp-intro-head {
    margin-bottom: 10px;
}

.hp-posts .post-entry {
    /*border: solid;
    border-radius: 1cap;*/
    margin: 0;
}

.hp-posts .entry-header {
    white-space: nowrap;
}

.hp-posts .entry-content {
    -webkit-line-clamp: 4;
    line-clamp: 4;
}

.hp-posts .entry-hint-parent {
    justify-content: center;
}

.hp-more-button {
    margin-top: 20px
}

#homepage {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
