{{- define "main" -}}
    {{ $x := "what" }}
    {{- $lang := .Site.Language.Lang -}}
    {{- $copy := index .Site.Data.home $lang -}}
    {{- $recent_projects := first 4 (where
        .Site.RegularPages.ByDate.Reverse "Section" "projects")
    -}}
    {{ $featured_projects := where site.RegularPages ".Params.featured" true }}


    <div id="homepage">
        <!--<div class="construction-notice">
            <h1>{{ $copy.construction.title }}</h1>
            <div class="construction-description">
                <p>{{ $copy.construction.description }}</p>
                <a href="{{ $copy.links.projects.link }}"
                    >{{ $copy.links.projects.text }}</a
                >
            </div>
        </div>-->

        <div class="hp-intro">
            <h2 class="hp-intro-head">{{ $copy.intro.headline }}</h2>
            <p class="hp-intro-desc">{{ $copy.intro.description1 }}</p>
            {{ $description := $copy.intro.description2 }}

            {{ range $key, $tag := $copy.intro.tags }}
                {{ $link := printf `<a href="%s">%s</a>` $tag.link $tag.text }}
                {{ $description = replace $description (printf "{%s}" $key) $link }}
            {{ end }}

            <p class="hp-intro-desc2">{{ $description | safeHTML }}</p>
            <p class="hp-intro-location">{{ $copy.intro.location }}</p>
        </div>

        {{- partial "social_icons.html" -}}

        <div class="hp-posts">
            <h2>{{ $copy.posts.featured.title }}</h2>
            <div class="post-list">
                {{- range $featured_projects }}
                    {{ partial "post_entry.html" . }}
                {{- end }}
            </div>
            <!--<h2>{{ $copy.posts.recent.title }}</h2>
            <div class="post-list">
                {{- range $recent_projects }}
                {{ partial "post_entry.html" . }}
            {{- end }}
            </div>-->
            <div class="hp-more-button">
                {{ partial "button.html" (dict
                    "name" "View all projects →"
                    "url" "/projects"
                )}}
            </div>
        </div>
    </div>
{{- end -}}
